* {
	padding: 0;
	margin:  0;
	box-sizing: border-box;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0,0, 0, 0.7)) no-repeat fixed transparent;
	color: #f2f2f2;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	width: 100vw;
}
main{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	width: 80%;

	margin: 0 auto;
	overflow: hidden;

}
form {
	z-index: 999;
	font-size: 1.25rem;

	text-align: center;
	padding: 2rem;

}

.select-todo{
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
}

.select-todo div{
	margin: 0.5rem auto 0;
}

#todo-input {
	background-color:  #FFF8DC;
}
#todo-input button,
#todo-input input{
	background-color: #FFF8DC;
	margin: 0;
	padding: 0.5rem;
	font-size: 1.25rem;
	border: none;
}

#todo-input input:focus {
	outline: none;
	color: #483d8b;
}


#todo-input button {
	color: #483D8B;
	background: #FFF8DC;
	cursor: pointer;
	transition: all 0.4s ease;
}
#todo-input button:hover {
	border-left-style: none;
	background: #483d8b;
	color: #FFF8DC;
}


/*for the list display*/
		
.todo-container {
	z-index: 1;
	margin: 1rem auto;
	padding: 1rem;
	width: 32%;

	position: fixed;
	top: 200px;
	max-height: 70%;
	overflow-y: auto;
	

	color: #0d0d0d;

}

.todo-list{
	list-style: none;
	z-index: -1;
}

.todo {
	margin: 0.5rem;
	background: #FFFFF0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

.todo li {
	flex:  1;
}

.todo-item {
	margin: 0 0.5rem;
}

.check-btn,
.trash-btn {
	color: #FFFFF0;
	background-color: #483d8b;
	border: none;
	padding: .5rem;
	cursor: pointer;
	font-size: .75rem;
}

.bgc-btn{
	background-color: #00ff00;
}

.trash-btn:hover {
	background-color: #B22222;
}

.fa-trash, .fa-check {
	pointer-events: none;
}

.completed{
	opacity: .35;
}

.animation{
	transform: translateX(50%);
	transition: all 0.7s ease;
	opacity: .5;
}


@media only screen and (max-width: 425px){
	#todo-input{
		display: flex;
	}
	.todo-container {
		margin-top: 0;
		width: 80%;

	}
}